src/main/mule/process-orders.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="4236b984-5d48-45b9-b121-cd3566c74732" >
		<file:connection workingDir="C:\Users\pradeep\AnypointStudio7\process-orders\process-orders\src\main\resources" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="90172715-24c5-43f5-a036-4507ee515eb3" >
		<file:connection workingDir="C:\Users\pradeep\AnypointStudio7\process-orders\process-orders\src\main\resources\output" />
	</file:config>
	
	<file:matcher name="Matcher" doc:name="Matcher" doc:id="b5f3f33b-1211-4f56-977c-7fb2df0a58f3" filenamePattern="2012[0-9].*" />
	<flow name="process-ordersFlow" doc:id="98c8174c-233b-43a3-8153-e3cf8ec86bf0" >
		<scheduler doc:name="Scheduler" doc:id="dd8219f2-d5f1-46c0-9917-81cc6801e8bb" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<file:list doc:name="List" doc:id="187fe4da-03c8-4d33-8a3c-24b984c285ac" directoryPath="input" config-ref="File_Config" matcher="Matcher">
		</file:list>
		<foreach doc:name="For Each" doc:id="d180951f-b1af-4a4b-927a-3fd750ef70ff" >
			<logger level="INFO" doc:name="Logger" doc:id="71f97999-abab-40df-940f-87ac8eee35e0" message="File Name::#[attributes.fileName]" />
			<ee:transform doc:name="Transform Message" doc:id="7dfa1d25-aee7-4ae9-82b5-d7d2f8971693">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.adventure-works.com
---
{
	Customers: payload.ns0#Root.ns0#Customers.*ns0#Customer map ( customer , indexOfCustomer ) -> {
		Customer: {
			CompanyName: customer.ns0#CompanyName,
			ContactName: customer.ns0#ContactName,
			ContactTitle: customer.ns0#ContactTitle,
			Phone: customer.ns0#Phone,
			FullAddress: {
				Address: customer.ns0#FullAddress.ns0#Address,
				City: customer.ns0#FullAddress.ns0#City,
				Region: customer.ns0#FullAddress.ns0#Region,
				PostalCode: customer.ns0#FullAddress.ns0#PostalCode as String,
				Country: customer.ns0#FullAddress.ns0#Country
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="1ecd0508-6571-462b-9739-1d045145dac1">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Customers: payload.Customers map ( customer , indexOfCustomer ) -> {
		Customer: {
			CompanyName: customer.Customer.CompanyName,
			ContactName: customer.Customer.ContactName,
			ContactTitle: customer.Customer.ContactTitle,
			Phone: customer.Customer.Phone,
			ShippingAdress: {
				Address: customer.Customer.FullAddress.Address ++ "," ++ customer.Customer.FullAddress.City,

		}
	}
}}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			<file:write doc:name="Write" doc:id="e3c9e397-e126-4e60-920d-d1dcffc7adc7" config-ref="File_Config1" path="#[attributes.fileName]" />
		</foreach>
	</flow>
</mule>
